# CODEOWNERS — auto-assign reviewers on PRs.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-security/customizing-your-repository/about-code-owners

* @danieldiazde @Mmateo101
